<aside class="flex bg-light-bg w-[18.5rem]  h-screen flex-col">
    <div class="p-8">
        <a href="#"><img src="../assets/images/logo-ANSWER.svg" alt=""></a>
    </div>
    <ul>
        <li class="nav-item">
            <a href="#" class="flex items-center"><i class="material-icons w-6 h-6 mr-4">analytics</i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="flex items-center" href="#"><i class="material-icons w-6 h-6 mr-4">forum</i>Question</a>
        </li>
        <li class="nav-item">
            <a class="flex items-center" href="#"><i class="material-icons w-6 h-6 mr-4">assignment</i>Assignment</a>
        </li>
        <li class="nav-item">
            <a class="flex items-center" href="#"><i class="material-icons w-6 h-6 mr-4">video_library</i>Course</a>
        </li>
        <li class="nav-item">
            <a class="flex items-center" href="#"><i class="material-icons w-6 h-6 mr-4">group</i>Admin</a>
        </li>
        <li class="nav-item">
            <a class="flex items-center" href="#"><i class="material-icons w-6 h-6 mr-4">settings</i>Settings</a>
        </li>
    </ul>
    <div class="mt-auto flex m-8 items-center">
        <img class="mr-4 rounded-full h-10 w-10" src="../assets/images/andychen.jpeg" alt="">
        <div class="">
            <h3 class="font-lato font-bold text-base text-gray-900">Andy Chen</h3>
            <h4 class="text-gray-600 text-14p">andy0401@mail.com</h4>
        </div>
    </div>
</aside>