<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal_view">
    <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

        <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden  transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">

            <div class="relative  w-[480px] rounded-lg bg-white p-8 ">
                <div class="flex">
                    <img src="../assets/images/emir.jpeg" alt="" class="h-[140px] w-[140px] object-cover" />
                    <div class="ml-6 flex w-full flex-col">
                        <div class="mb-2 flex">
                            <span>#1</span>
                            <button onclick="toggleModalView()" class="close ml-auto text-gray-400 hover:text-gray-600">
                                <i class="material-icons  ">close</i>
                            </button>
                        </div>
                        <span>admin</span>
                        <h2 class="text-24p">Emir Wicks</h2>
                        <a href="mailto:emir.wicks@mail.com" class="text-14p text-secondary">emir.wicks&#64;mail.com</a>
                        <div class="flex pt-1">
                            <span class="mr-auto block bg-light-bg px-2 py-1 text-14p text-text">Verified</span>
                            <a href="#">
                                <span id="arrow-downward" class="material-icons  ml-2 text-base text-primary">
                                    keyboard_arrow_down
                                </span></a>
                            <a href="#">
                                <span id="arrow-upward" class="material-icons hidden ml-2  text-base text-primary">
                                    keyboard_arrow_up
                                </span></a>
                        </div>
                    </div>
                </div>
                <div class="flex hidden justify-end pt-8" id="editVerified">
                    <button type="button"
                        class="mr-4 flex h-[35px] w-[146px] items-center justify-center border border-danger font-bold text-danger hover:bg-danger hover:text-white">
                        Deactivate
                    </button>
                    <button type="button"
                        class=" py-1 px-8  bg-primary border mb-4  font-bold text-white  h-[35px] w-[112px]"
                        onclick="toggleModalView(),toggleModalEdit()">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleModalView() {
        document.getElementById('modal_view').classList.toggle('hidden');

    }
</script>